@import url('https://fonts.googleapis.com/css2?family=Source Code Pro');
@import url('https://fonts.googleapis.com/css2?family=Press Start 2P');

@import 'bootstrap/dist/css/bootstrap.min.css';



body {
  margin: 0;
  font-family: source-code-pro,'Press Start 2P', 'Source Code Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 22, 110);
  color: aliceblue;
  

}

th,td{
  color: aliceblue;
  background-color: rgb(22, 22, 110);
  font-size: 2em;
  font-family: 'Press Start 2P', 'Source Code Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
  text-align: center;
  text-decoration: none;
   

}


img {
  -webkit-filter: invert(1);
  filter: invert(1);
  }

  .container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*height: 100vh;*/
    width: 100vw;
    background-color: rgb(22, 22, 110);
    color: aliceblue;

  }
  
  .child{
    position: relative;
    top: 0;
    left: 0;
 
    /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
  }
.button {
  background-color: rgb(22, 22, 110);
  border: none;
  color: aliceblue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid #4CAF50;

}


  .top{
    background-color: rgb(22, 22, 110);
    font-size: .9em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10;
    padding: 10;
   
    position: absolute;
    top: 0%;
    left: 80%;

 
    /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
  }

  .space{
  min-height: 5vh;

 
    /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
  }
  .exchange{
 
    font-size: .9em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10;
    padding: 10;
   
    position: absolute;
    top: 96%;
    left:1%;
    width: 98%;
 
    /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
  }

  .titleApp{
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px rgb(255, 255, 255);
  
    
  }
  .search {
    background-color: rgb(22, 22, 110);
    border: none;
    color: aliceblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid #4CAF50;
    width: 500px;
  
  }
  .card{
      
    background-color: rgb(22, 22, 110);
    
      color: aliceblue;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 9px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
      border: 2px solid #4CAF50;
      width: 500px;
      
      
      
      
      box-shadow: 0 0 10px rgb(255, 255, 255);
      /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
    }
    
  


